/* Provided stylesheet for HW 5: Pokedex Assignment */
body, button {
  color: #222;
  font-family: "Century Gothic", Helvetica, sans-serif;
}

div > img {
  display: block;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  justify-content: space-between;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

#menu-btns {
  list-style-type: none;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu-btns * {
  display: inline;
  margin: auto 3px;
}

#menu-btns .menu-btn {
  width: 150px;
}

#main-page {
  flex-direction: column;
  width: 95vw;
  margin: auto auto;
}

.mod-btn, .menu-btn, .option-btn, #choose-pokemon-btn, #pokedex-menu-btn, #start-game, #main-menu-btn, #-bot-, #-random-, #student, #start-btn, #flee-btn, #endgame {
  background-color: #fff;
  border: 3px inset #666;
  border-radius: 8px;
	cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 5px auto;
  padding: 8px;
  width: 250px;
  font-size: 12pt;
}

#sign-in-page {
  flex-direction: column;
  width: 100%;
}

#sign-in-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

#sign-in-form {
  text-align: center;
}

/* Pokedex Styles */

/* #pokedex-view {
  box-sizing: content-box;
  height: 520px;
  min-width: 200px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  width: 800px;
} */

.dex-container {
  width: 48%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: space-between;
} 

#choose-pokemon-container{
  display: flex;
  margin: auto auto;
  width: 100%;
}

#choose-pokemon-container .dex-container {
  flex-direction: row;
  width: 55vw;
}

.pokedex, #pokedex-view {
  margin: auto auto;
  min-width: 200px;
  height: 520px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  box-sizing: content-box;
}

.results-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 15px auto;
}

.results-table .small-btn {
  padding: 5px;
  width: 60px;
  display: block;
  background-color: #fff;
  margin: auto auto;
  border-radius: 4px;
  float: left;
  margin-left: 5px;
}

.results-table tr td {
  background-color: #fff;
  border: none;
  text-align: center;
  width: 100px;
}

.results-table tr span {
  margin-left: 15px;
  padding: 0;
}

.results-table p {
  line-height: 40px;
}



::-webkit-scrollbar {
  display: none;
}

.card, #pokedex-view {
  border: 5px outset #777;
  border-radius: 15px;
}

.pokedex {
  width: 100%; 
  margin: 0;
}

#pokedices {
  width: 90vw;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokedex, #pokedex-view, .card {
  border: 5px outset #777;
  border-radius: 15px;
}

/* Card styles */
h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card {
  height: 520px;
  position: relative; /* for weakness icon positioning */
}

.card-container {
  height: 520px;
  float: left;
  margin-right: auto;
  width: 350px;
}

.info {
  font-size: 11pt;
  font-style: italic;
  height: 60px;
  margin: auto auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
  padding: 4px;
  text-align: center;
  width: 90%;
}

.pokepic {
  height: 80%;
  object-fit: contain;
  width: 80%;
}

.pokemon-pic {
  border: 4px solid #999;
  border-radius: 15px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#results-container {
  margin: 0 20px;
  text-align: center;
}

.card > img, .moves img {
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}

.type {
  float: left;
  margin: 3px 5px 3px 3px;
}

.weakness {
  bottom: 0;
  left: 3px;
  position: absolute;
}

/* Move Button Styles */
.moves {
  font-size: 12pt;
  margin: auto auto;
  width: 70%;
}

.moves button {
  background-color: #f7f7f7;
  border: 5px outset #999;
  border-radius: 6px;
  box-shadow: 1px 3px #999;
  cursor: pointer;
	font-size: 12pt;
  padding: 2px 10px 2px 10px;
  margin: 5px 0;
  text-align: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100%;
}

.moves button:hover {
  background-color: #ccc;
}

.moves button:active {
  background-color: #888;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.moves img {
  float: left;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.moves .dp {
  float: right;
  line-height: 2em;
  vertical-align: middle;
}

.moves .move {
	font-weight: bold;
  line-height: 2em;
  vertical-align: middle;
}

.hp {
  float: right;
  margin: 15px;
}

#loading {
  margin-top: 200px;
  width: 80px;
}

#endgame {
  left: 0;
  right: 0;
  position: absolute;
}

.buffs {
  width: 50px;
  float: left;
  padding-top: 40px;
}

.sprite {
  width: 40px;
  height: 40px;
  margin: 4px;
  padding: 1px;
  float: left;
  cursor: pointer;
  -webkit-filter: brightness(0);
  filter: brightness(0);
}

.results-table .sprite {
  margin: 0px 4px;
}

.found {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

/* Buffs and Debuffs */
.buff, .debuff {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 2px;
  background-size: 30px 30px;
}

.accuracy.buff {
  background-image: url("https://courses.cs.washington.edu/courses/cse154/webservices/pokedex/icons/accuracy-buff.png");
}

.attack.buff {
  background-image: url("https://courses.cs.washington.edu/courses/cse154/webservices/pokedex/icons/attack-buff.png");
}

.defense.buff {
  background-image: url("https://courses.cs.washington.edu/courses/cse154/webservices/pokedex/icons/defense-buff.png");
}

.accuracy.debuff {
  background-image: url("https://courses.cs.washington.edu/courses/cse154/webservices/pokedex/icons/accuracy-debuff.png");
}

.attack.debuff {
  background-image: url("https://courses.cs.washington.edu/courses/cse154/webservices/pokedex/icons/attack-debuff.png");
}

.defense.debuff {
  background-image: url("https://courses.cs.washington.edu/courses/cse154/webservices/pokedex/icons/defense-debuff.png");
}

#endgame, #flee-btn, #start-btn {
  background-color: #fff;
  border: 3px inset #666;
  border-radius: 8px;
	cursor: pointer;
  display: block;
  font-size: 12pt;
  font-weight: bold;
  margin: 5px auto;
  padding: 8px;
  width: 250px;
}

#start-btn.hidden, #flee-btn.hidden, #endgame.hidden, .hidden {
  display: none;
}

.hp-info {
  height: 30px;
  line-height: 1em;
  margin-bottom: 0.3em;
}

.hp-info p {
  font-size: 20pt;
  font-weight: bold;
  float: left;
  width: 15%;
}

.hp-info .health-bar-container {
  /* Display this element to be inline-block -- otherwise it shifts underneath the floated element to the left */
  display: inline-block;
  width: 85%;
}

.health-bar {
  width: 100%;
  background-color: green;
  height: 20pt;
  border: 4px inset darkgreen;
  border-radius: 20px;
  /** Border box to get the 4px+4px of border to be included in the 100% width */
  box-sizing: border-box;
}

.low-health {
  background-color: red;
  border: 4px inset darkred;
}

#pvp-view {
  width: 90%;
  margin: auto auto;
  text-align: center;
}

.sub-menu h3 {
  text-align: center;
}

#trade-message {
  text-align: center;
}

#users, #opponents {
  padding: 4px;
  width: 150px;
  display: block;
  margin: 5px auto 15px auto;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12pt;
}

#new-proposal-view .part-iii {
  width: 40vw;
  margin: auto auto;
}
